body{
	font-size: 18px;
}
#bg_video{
	position:absolute;
	width:100%;
	top:0;
	left:0;
	right:0;
	z-index: -1;
	opacity: 0.75;
}
#logo{
	top:15px;
	clear:both;
	display: block;
	width: 6.5%;
	margin: auto;
}
#head{
	position: fixed;
	width: 100%;
	background-color: black;
	opacity: 0.85;
	left:0;
	top:0;
	margin:0;
	padding:0;
	height:48px;
	z-index: 9999;
}
.tabs li{
	font-family: 'Ubuntu',sans-serif;
	color:#f3f3f3;
	margin:0 auto;
	padding:0 10px 0;
	text-align: center;
	display: inline;
}
#slogan h1, #slogan h2{
	clear:both;
	text-align: center;
}
#slogan h1{
	font-family:'Raleway', sans-serif;
	font-weight: 500;
	margin-top: 180px;
	margin-bottom: 0px;
	font-size: 6rem;
	text-shadow: 0.5px 0.5px #1b1b1b;
}
#slogan h2{
	font-family: 'Ubuntu',sans-serif;
	font-weight: 300;
	font-size:2rem;
}
.About h2{
	font-family: 'Ubuntu',sans-serif;
	font-weight: 300;
	font-size: 1.5rem;
	margin-top: 210px;
	margin-left:8%;
}
.About p{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    width: 45%;
    margin: 0;
    padding: 0;
    left: 15%;
    font-size: 1.2rem;
    line-height: 2;
}
.ab-img{
	width: 20%;
    position: relative;
    margin: 0;
    left: 70%;
}
hr{
	width:90%;
}
.Skill h2{
	font-family: 'Ubuntu',sans-serif;
	font-weight: 300;
	font-size: 1.5rem;
	margin-top: 50px;
	margin-left:8%;
}
.ps{
	position: relative;
	margin:0;
	padding:0;
	left:15%;
}
.in{	
	position: relative;
	margin:0;
	padding:0;
	left:25%;
}
.ai{
	position: relative;
	margin:0;
	padding:0;
	left:35%;	
}
.Skill p{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	width:100%;
}
.h,.c,.b,.j,.jQ,.g{
	display: inline-block;
	position:relative;
}
.h{
	width:100px;
    left:15%;
}
.c{
	width:100px;
    left:19%;
}
.b{
	width:115px;
    left:24%;
}
.j{
	width:115px;
    left:29%;
}
.jQ{
	width:115px;
    left:34%;
}
.g{
	width:115px;
    left:39%;
}
.Education h2{
	font-family: 'Ubuntu',sans-serif;
	font-weight: 300;
	font-size: 1.5rem;
	margin-top: 50px;
	margin-left:8%;	
}
.Education p{
	font-family: 'Raleway', sans-serif;
    position: absolute;
    padding:2px;
    left: 15%;
}
.p1{
	font-weight: bold;
	font-size:1.2rem;
}
.Company{
	margin-top: 5%;
	font-size:1.2rem;
}
.date{
	margin-top: 11%
}
.dxd{
	width:10%;
	position:absolute;
	left:70%;
}

.progross{
	border: 2px solid #eb761e;
	border-radius: 10px;
	color:#eb761e;
	margin-top:8%;
}
.p2{
	font-weight:bold;
	font-size:1.2rem;
	margin-top: 17%
}
.school{
	margin-top:20%;
}
.progross1{
	border: 2px solid #c41230;
	border-radius: 10px;
	color:#c41230;
	margin-top:23%;
}
.date1{
	position:relative;
	margin-top: 26%;
}
.sfu{
	position:absolute;
	left:70%;
	width:20%;
	margin-top: 17%;
}
.line{
	width: 90%
	position:absolute;
	margin-top: 30%
}
.Contact h2{
	font-family: 'Ubuntu',sans-serif;
	font-weight: 300;
	font-size: 1.5rem;
	margin-top: 50px;
	margin-left:8%;		
}
.info h3,.info p{
	margin-left: 15%;
	font-family: 'Raleway', sans-serif;
	position: absolute;
}
.info h3{
	font-weight: bold;
	font-size:1.2rem;
}
.info p{
	font-weight:300;
	font-size: 1.2rem;
}
.map{
	position: absolute;
	left:65%;
}
.xincheng{
	margin-top: 3%;
}
.phone{
	margin-top: 6%;
}
.nu{
	margin-top: 8%;
}
.add{
	margin-top: 11%;
}
.un{
	margin-top: 13%;
}
.sta{
	margin-top: 15%;
}
.bu{
	margin-top: 17%;
}
.v3n{
	margin-top: 19%;
}
.line2{
	width: 90%
	position:absolute;
	margin-top: 24%
}
.footer{
	text-align: center;
	padding: 10px 0 10px;
    margin: 0;
    background-color: #333;
    width: 100%;
    color:#e0e0e0;
}


